@media only screen and (max-width: 600px) {

  .scientificallyBacked .scientificallyBackedYellow .scientificText p,
  .scientificallyBacked .scientificallyBackedYellow,
  .fastLongLastingParent .fastLongLasting .fastLongLastingText p,
  .toughOnDandruffButNotOn .toughOnDandruffButNotOnImage img,
  .toughOnDandruffButNotOn .toughOnDandruffButNotOnYellow .toughOnDandruffButNotOnText p {
    width: 100%;
  }

  .blinkArea {
    display: none;
  }

  .yourScalps .yourScalpsBottomParent .yourScalpsBottom p {
    text-align: center;
  }

  header {
    padding: 0;
  }

  .banner,
  .scientificallyBackedYellow,
  .scientificallyBacked .scientificallyBackedYellow,
  .fastLongLastingParent .fastLongLasting,
  .scientificallyBacked,
  .toughOnDandruffButNotOn,
  .toughOnDandruffButNotOn .toughOnDandruffButNotOnYellow {
    width: 100%;
    height: 100%;
  }

  .yourScalps .sayGoodbyeParent,
  .yourScalps .gentleEnoughParent,
  .yourScalps .hydrateParent {
    height: 60vh;
  }

  .yourScalps .gentleEnoughParent .gentleEnough .round_featureParent,
  .yourScalps .hydrateParent .hydrate .round_featureParent {
    top: 6%;
    left: 2%;
  }

  .bannerTextArea span {
    font-size: 2rem !important;
    font-weight: bold;
  }

  .mo_goodbye {
    font-size: 4rem;
    font-weight: bold;
  }

  .banner .bannerTextArea h2,
  .toughOnDandruffButNotOn .toughOnDandruffButNotOnYellow .toughOnDandruffButNotOnText h3 {
    font-size: 1.5rem;
    width: 100%;
  }

  .banner .bannerTextArea p {
    font-size: 1rem;
    width: 100%;
  }

  .banner .bannerBoy img {
    width: 100%;
    position: relative;
    bottom: 0;
    right: 0;
    z-index: 9;
  }

  .yourScalps .bestfriend {
    position: inherit;
    background-color: #ffcc00;
    width: 100%;
    padding: 30px;
  }

  .yourScalps .bestfriend h2 span,
  .fastLongLastingParent .fastLongLasting .fastLongLastingText h3 {
    font-size: 1.5rem;
  }

  .yourScalps .bestfriend h3 span {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .yourScalps .sayGoodbyeParent .sayGoodbye .round_featureParent {
    position: absolute;
    top: 0%;
    left: 45%;
  }

  /* scientificallyBacked */
  .scientificallyBacked .scientificallyBackedYellow .scientificText {
    margin-top: 3rem;
  }

  .scientificallyBacked .scientificallyBackedYellow .scientificText h3,
  .scientificallyBacked .scientificallyBackedYellow .scientificText p {
    font-size: 1rem;
  }

  .scientificallyBacked .scientificallyBackedImage,
  .toughOnDandruffButNotOnImage {
    position: inherit;
    background-color: #ffcc00;
  }

  .fastLongLastingParent {
    height: 100%;
    margin-top: 0;
  }

  .fastLongLastingParent .fastLongLastingImage,
  .toughOnDandruffButNotOn .toughOnDandruffButNotOnImage,
  .toughOnDandruffButNotOn .toughOnDandruffButNotOnImage img {
    position: inherit;
  }

  .fastLongLastingParent .fastLongLasting .fastLongLastingText {
    margin-top: 0rem;
    padding-top: 20px;
  }

  .fastLongLastingImage {
    background-color: #207cde;
  }

  /* Slider  */
  .product_carousel .slider_first {
    width: 100%;
    flex-direction: column;
  }

  .product_carousel .slider_first .product_image_area img {
    width: 30%;
  }

  .product_carousel .slider_first .round_icon_area,
  .product_carousel .slider_first .round_icon_area_for_clinically_proven,
  .product_carousel .slider_first .fast_relief_round_icon_area,
  .product_carousel .slider_first .triple_action_round_icon_area {
    margin: 0 auto;
  }

  .first_text_area,
  .product_image_area {
    text-align: center;
  }

  .product_carousel .slider_first .slider_first_column_one {
    display: flex;
    justify-content: center;
  }

  .product_carousel .slider_first .round_icon_area,
  .product_carousel .slider_first .round_icon_area_for_clinically_proven,
  .product_carousel .slider_first .fast_relief_round_icon_area,
  .product_carousel .slider_first .triple_action_round_icon_area {
    width: 70px;
    height: 70px;
  }

  .product_carousel .slider_first .first_text_area h2 {
    font-size: 1rem;
  }

  .product_carousel .slider_first .first_text_area p,
  .allAboutDandruffParent .allAboutDandruff p {
    font-size: 1rem;
    width: 100%;
  }

  .long-lasting-holding_area {
    width: 50%;
  }

  .allAboutDandruffParent .allAboutDandruffImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .allAboutDandruffParent .allAboutDandruff h3, .allAboutDandruffParent .allAboutDandruff p, .allAboutDandruffParent .allAboutDandruff button {
    z-index: 9;
    position: relative;
  }
}