@font-face {
  font-family: helveticaMedium;
  src: url(../font/HelveticaNeueMedium.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "helveticaMedium", sans-serif;
  color: #212427;
  overflow-x: hidden;
}

.container-custom {
  max-width: 90%;
  /* Adjust this percentage as needed */
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: #ffcc00;
  padding-bottom: 5rem;
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 180px;
  transition: transform 0.3s ease-in-out;
  /* Lower priority */
}
header .navbar-nav li a {
  font-weight: bold;
  font-size: 18px;
}
header .buyNow button {
  background-color: transparent;
  border: 2px solid #212427;
  font-size: 18px;
  font-size: 18px;
  font-weight: 500;
  padding: 12px 30px 12px 30px;
}

.banner {
  width: 100%;
  height: 100vh;
  background: #207cde;
  background: linear-gradient(295deg, rgb(35, 126, 222) 0%, rgba(35, 126, 222, 0.36) 29%, rgb(35, 126, 222) 100%);
  position: relative;
  overflow: visible;
  padding-top: 180px;
}
.banner .bannerTextArea {
  color: #152b59;
  font-family: "helveticaMedium", sans-serif;
  margin-top: 5rem;
}
.banner .bannerTextArea span {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1;
}
.banner .bannerTextArea h1 {
  overflow: hidden;
}
.banner .bannerTextArea h1 span {
  font-size: 12vw;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  margin-left: -5px;
  display: inline-block;
}
.banner .bannerTextArea h2 span {
  overflow: hidden;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  display: inline-block;
}
.banner .bannerTextArea p {
  font-size: 1.5rem;
  font-weight: 600;
  width: 40%;
}
.banner .bannerBoy {
  width: 100%;
}
.banner .bannerBoy img {
  width: 55%;
  position: absolute;
  bottom: 0;
  right: -50px;
  z-index: 9;
}
.banner .blinkArea {
  width: 100%;
}
.banner .blinkArea .blink_text {
  font-family: "helveticaMedium", sans-serif;
  font-size: 5rem;
  color: #fff;
  font-weight: 600;
  opacity: 0.4;
}
.banner .blinkArea .blink_text span:nth-child(1) {
  position: absolute;
  top: 10%;
}
.banner .blinkArea .blink_text span:nth-child(2) {
  position: absolute;
  bottom: 10%;
}
.banner .blinkArea .blink_text span:nth-child(3) {
  position: absolute;
  right: 10%;
  top: 10%;
}
.banner .blinkArea .blink_text span:nth-child(4) {
  position: absolute;
  right: 20%;
  bottom: 10%;
}
.banner .blinkArea .blink_text span:nth-child(5) {
  position: absolute;
  right: 42%;
  bottom: 30%;
}
.banner .blinkArea .blink_text span:nth-child(6) {
  position: absolute;
  right: 10%;
  bottom: 50%;
}
.banner .blinkArea .blink_text span:nth-child(7) {
  position: absolute;
  left: 20%;
  bottom: 50%;
}

.yourScalps {
  overflow: hidden;
  background: linear-gradient(295deg, rgb(35, 126, 222) 0%, rgba(35, 126, 222, 0.36) 29%, rgb(35, 126, 222) 100%);
}
.yourScalps .bestfriend {
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  margin-inline: auto;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  font-family: "helveticaMedium", sans-serif;
  text-align: center;
  z-index: 9;
}
.yourScalps .bestfriend h2 span {
  font-size: 4vw;
  display: inline-block;
}
.yourScalps .bestfriend h3 span {
  font-size: 10vw;
  font-weight: bold;
  display: inline-block;
}
.yourScalps .sayGoodbyeParent {
  background-color: #ffcc00;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  position: relative;
}
.yourScalps .sayGoodbyeParent .sayGoodbye {
  height: 100%;
}
.yourScalps .sayGoodbyeParent .sayGoodbye .round_featureParent {
  position: absolute;
  top: 46%;
  left: 65%;
  background-color: #fff;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: 99;
  overflow: hidden;
  border: 5px solid #fff;
  box-shadow: -1px 13px 4px 1px rgba(0, 0, 0, 0.2392156863);
}
.yourScalps .sayGoodbyeParent .sayGoodbye .round_featureParent .round_feature_sub {
  display: flex;
  flex-direction: column;
}
.yourScalps .sayGoodbyeParent .sayGoodbye .round_featureParent .round_feature_sub .icon_area {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.yourScalps .sayGoodbyeParent .sayGoodbye .round_featureParent .round_feature_sub .icon_area img {
  width: 60px;
}
.yourScalps .sayGoodbyeParent .sayGoodbye .round_featureParent .round_feature_sub .text_area {
  width: 100%;
  height: 75px;
  text-align: center;
  background-color: #f6eab9;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.yourScalps .sayGoodbyeParent .sayGoodbye .round_featureParent .round_feature_sub .text_area p {
  width: 55%;
  font-size: 10px;
  font-weight: 600;
}
.yourScalps .sayGoodbyeParent .sayGoodbye .shampoo_image {
  width: 100%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: rotate(346deg);
  z-index: 9;
  position: relative;
}
.yourScalps .gentleEnoughParent {
  background-color: #207cde;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  position: relative;
  justify-content: center;
}
.yourScalps .gentleEnoughParent .gentleEnough {
  height: 100%;
  display: flex;
  align-items: end;
  margin: 0;
}
.yourScalps .gentleEnoughParent .gentleEnough .round_featureParent {
  position: absolute;
  top: 36%;
  left: 12%;
  background-color: #fff;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: 99;
  overflow: hidden;
  border: 5px solid #fff;
  box-shadow: -1px 13px 4px 1px rgba(0, 0, 0, 0.2392156863);
}
.yourScalps .gentleEnoughParent .gentleEnough .round_featureParent .round_feature_sub {
  display: flex;
  flex-direction: column;
}
.yourScalps .gentleEnoughParent .gentleEnough .round_featureParent .round_feature_sub .icon_area {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.yourScalps .gentleEnoughParent .gentleEnough .round_featureParent .round_feature_sub .icon_area img {
  width: 60px;
}
.yourScalps .gentleEnoughParent .gentleEnough .round_featureParent .round_feature_sub .text_area {
  width: 100%;
  height: 75px;
  text-align: center;
  background-color: #9fcbf9;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.yourScalps .gentleEnoughParent .gentleEnough .round_featureParent .round_feature_sub .text_area p {
  width: 65%;
  font-size: 10px;
  font-weight: 600;
}
.yourScalps .gentleEnoughParent .gentleEnough .gentleEnoughImage {
  width: 100%;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 9;
  transform: scale(1.4);
}
.yourScalps .hydrateParent {
  background-color: #5dafae;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  position: relative;
  justify-content: end;
}
.yourScalps .hydrateParent .hydrate {
  height: 100%;
  display: flex;
  justify-content: right;
}
.yourScalps .hydrateParent .hydrate .round_featureParent {
  position: absolute;
  top: 46%;
  left: 12%;
  background-color: #fff;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: 99;
  overflow: hidden;
  border: 5px solid #fff;
  box-shadow: -1px 13px 4px 1px rgba(0, 0, 0, 0.2392156863);
}
.yourScalps .hydrateParent .hydrate .round_featureParent .round_feature_sub {
  display: flex;
  flex-direction: column;
}
.yourScalps .hydrateParent .hydrate .round_featureParent .round_feature_sub .icon_area {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.yourScalps .hydrateParent .hydrate .round_featureParent .round_feature_sub .icon_area img {
  width: 60px;
}
.yourScalps .hydrateParent .hydrate .round_featureParent .round_feature_sub .text_area {
  width: 100%;
  height: 75px;
  text-align: center;
  background-color: #b8eded;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.yourScalps .hydrateParent .hydrate .round_featureParent .round_feature_sub .text_area p {
  width: 65%;
  font-size: 10px;
  font-weight: 600;
}
.yourScalps .hydrateParent .hydrate .hydrateImage {
  width: 100%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: rotate(15deg);
  z-index: 9;
}
.yourScalps .yourScalpsBottomParent {
  margin-top: -8rem;
}
.yourScalps .yourScalpsBottomParent .yourScalpsBottom {
  background-color: #ffcc00;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9;
  box-shadow: rgba(0, 0, 0, 0.2509803922) -1px -1px 20px 0px;
}
.yourScalps .yourScalpsBottomParent .yourScalpsBottom p {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "helveticaMedium", sans-serif;
}
.yourScalps .yourScalpsBottomParent .yourScalpsBottom button {
  background-color: transparent;
  border: 2px solid #fff;
  padding: 8px 25px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #212427;
}

.theNezroralDiffrenceParent {
  font-family: "helveticaMedium", sans-serif;
}
.theNezroralDiffrenceParent h2 span {
  font-size: 3vw;
  color: #152b59;
  display: inline-block;
}

.scientificallyBacked {
  overflow: hidden;
}
.scientificallyBacked .scientificallyBackedYellow {
  font-family: "helveticaMedium", sans-serif;
  background-color: #ffcc00;
  width: 90%;
  height: 100vh;
  overflow: hidden;
}
.scientificallyBacked .scientificallyBackedYellow .scientificText {
  margin-top: 3rem;
}
.scientificallyBacked .scientificallyBackedYellow .scientificText h3 {
  color: #fff;
  font-size: 3rem;
  line-height: 1;
  display: inline-block;
  letter-spacing: 1px;
}
.scientificallyBacked .scientificallyBackedYellow .scientificText h2 {
  font-size: 12vw;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  margin-left: -5px;
  color: #fff;
  letter-spacing: 1px;
}
.scientificallyBacked .scientificallyBackedYellow .scientificText p {
  font-size: 1.5rem;
  width: 30%;
}
.scientificallyBacked .scientificallyBackedImage {
  padding: 0;
  position: absolute;
  top: 45%;
}
.scientificallyBacked .scientificallyBackedImage img {
  width: 90%;
  height: auto;
}

.fastLongLastingParent {
  height: 100vh;
  overflow: hidden;
  margin-top: -4rem;
}
.fastLongLastingParent .fastLongLasting {
  font-family: "helveticaMedium", sans-serif;
  background-color: #207cde;
  width: 90%;
  height: 100vh;
  overflow: hidden;
  margin-left: auto;
  margin-right: 0;
}
.fastLongLastingParent .fastLongLasting .fastLongLastingText {
  margin-top: 8rem;
}
.fastLongLastingParent .fastLongLasting .fastLongLastingText h3 {
  color: #fff;
  font-size: 3rem;
  line-height: 1;
  display: inline-block;
  letter-spacing: 1px;
}
.fastLongLastingParent .fastLongLasting .fastLongLastingText h2 {
  font-size: 12vw;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  margin-left: -5px;
  color: #fff;
  letter-spacing: 1px;
}
.fastLongLastingParent .fastLongLasting .fastLongLastingText p {
  font-size: 1.5rem;
  width: 30%;
  margin-left: auto;
}
.fastLongLastingParent .fastLongLastingImage {
  padding: 0;
  position: absolute;
  top: 28%;
}
.fastLongLastingParent .fastLongLastingImage img {
  width: 60%;
  height: 100%;
  transform: scaleX(-1);
}

.toughOnDandruffButNotOn {
  height: 100vh;
  overflow: hidden;
}
.toughOnDandruffButNotOn .toughOnDandruffButNotOnYellow {
  font-family: "helveticaMedium", sans-serif;
  background-color: #ffcc00;
  width: 90%;
  height: 100vh;
  overflow: hidden;
}
.toughOnDandruffButNotOn .toughOnDandruffButNotOnYellow .toughOnDandruffButNotOnText {
  margin-top: 8rem;
}
.toughOnDandruffButNotOn .toughOnDandruffButNotOnYellow .toughOnDandruffButNotOnText h3 {
  color: #fff;
  font-size: 3rem;
  line-height: 1;
  display: inline-block;
  letter-spacing: 1px;
}
.toughOnDandruffButNotOn .toughOnDandruffButNotOnYellow .toughOnDandruffButNotOnText h2 {
  font-size: 12vw;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  margin-left: -5px;
  color: #fff;
  letter-spacing: 1px;
}
.toughOnDandruffButNotOn .toughOnDandruffButNotOnYellow .toughOnDandruffButNotOnText p {
  font-size: 1.5rem;
  width: 30%;
}
.toughOnDandruffButNotOn .toughOnDandruffButNotOnImage {
  padding: 0;
  position: absolute;
  top: 0;
}
.toughOnDandruffButNotOn .toughOnDandruffButNotOnImage img {
  width: 65%;
  height: auto;
  position: absolute;
  right: 0;
}

.blink_text span {
  animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}
.sprinkles {
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
}

.sprinkles:before,
.sprinkles:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.sprinkles:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #152b59 20%, transparent 20%), radial-gradient(circle, transparent 20%, #152b59 20%, transparent 30%), radial-gradient(circle, #152b59 20%, transparent 20%), radial-gradient(circle, #152b59 20%, transparent 20%), radial-gradient(circle, transparent 10%, #152b59 15%, transparent 20%), radial-gradient(circle, #152b59 20%, transparent 20%), radial-gradient(circle, #152b59 20%, transparent 20%), radial-gradient(circle, #152b59 20%, transparent 20%), radial-gradient(circle, #152b59 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
.sprinkles:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #152b59 20%, transparent 20%), radial-gradient(circle, #152b59 20%, transparent 20%), radial-gradient(circle, transparent 10%, #152b59 15%, transparent 20%), radial-gradient(circle, #152b59 20%, transparent 20%), radial-gradient(circle, #152b59 20%, transparent 20%), radial-gradient(circle, #152b59 20%, transparent 20%), radial-gradient(circle, #152b59 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
.hide-header {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}/*# sourceMappingURL=style.css.map */