@font-face {
  font-family: helveticaMedium;
  src: url(../font/HelveticaNeueMedium.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "helveticaMedium", sans-serif;
  color: #212427;
  overflow-x: hidden;
}

.container-custom {
  max-width: 90%;
  /* Adjust this percentage as needed */
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: #ffcc00;
  padding-bottom: 5rem;
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 180px;
  transition: transform 0.3s ease-in-out;
  /* Lower priority */
}
header .navbar-nav li {
  background-color: #ffcc00;
}
header .navbar-nav li a {
  font-weight: bold;
  font-size: 18px;
}
header .buyNow button {
  background-color: #ffcc00;
  border: 2px solid #212427;
  font-size: 18px;
  font-size: 18px;
  font-weight: 500;
  padding: 12px 30px 12px 30px;
}

.banner {
  width: 100%;
  height: 100vh;
  background: #207cde;
  background: linear-gradient(295deg, rgb(35, 126, 222) 0%, rgba(35, 126, 222, 0.36) 29%, rgb(35, 126, 222) 100%);
  position: relative;
  overflow: visible;
  padding-top: 180px;
}
.banner .bannerTextArea {
  color: #152b59;
  font-family: "helveticaMedium", sans-serif;
  margin-top: 5rem;
}
.banner .bannerTextArea span {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
}
.banner .bannerTextArea h1 {
  overflow: hidden;
}
.banner .bannerTextArea h1 span {
  font-size: 12vw;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  margin-left: -5px;
  display: inline-block;
}
.banner .bannerTextArea h2 {
  margin-top: -1rem;
}
.banner .bannerTextArea h2 span {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  display: inline-block;
}
.banner .bannerTextArea p {
  font-size: 2rem;
  font-weight: 600;
  width: 40%;
}
.banner .bannerBoy {
  width: 100%;
}
.banner .bannerBoy img {
  width: 55%;
  position: absolute;
  bottom: 0;
  right: -50px;
  z-index: 9;
}
.banner .blinkArea {
  width: 100%;
}
.banner .blinkArea .blink_text {
  font-family: "helveticaMedium", sans-serif;
  font-size: 5rem;
  color: #fff;
  font-weight: 600;
  opacity: 0.4;
}
.banner .blinkArea .blink_text span:nth-child(1) {
  position: absolute;
  top: 10%;
}
.banner .blinkArea .blink_text span:nth-child(2) {
  position: absolute;
  bottom: 10%;
}
.banner .blinkArea .blink_text span:nth-child(3) {
  position: absolute;
  right: 10%;
  top: 10%;
}
.banner .blinkArea .blink_text span:nth-child(4) {
  position: absolute;
  right: 20%;
  bottom: 10%;
}
.banner .blinkArea .blink_text span:nth-child(5) {
  position: absolute;
  right: 42%;
  bottom: 30%;
}
.banner .blinkArea .blink_text span:nth-child(6) {
  position: absolute;
  right: 10%;
  bottom: 50%;
}
.banner .blinkArea .blink_text span:nth-child(7) {
  position: absolute;
  left: 20%;
  bottom: 50%;
}

.yourScalps {
  overflow: hidden;
  background: linear-gradient(295deg, rgb(35, 126, 222) 0%, rgba(35, 126, 222, 0.36) 29%, rgb(35, 126, 222) 100%);
}
.yourScalps .bestfriend {
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  margin-inline: auto;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  font-family: "helveticaMedium", sans-serif;
  text-align: center;
  z-index: 9;
}
.yourScalps .bestfriend h2 span {
  font-size: 4.5vw;
  display: inline-block;
}
.yourScalps .bestfriend h3 {
  margin-top: -2rem;
}
.yourScalps .bestfriend h3 span {
  font-size: 12vw;
  font-weight: bold;
  display: inline-block;
}
.yourScalps .sayGoodbyeParent {
  background-color: #ffcc00;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  position: relative;
}
.yourScalps .sayGoodbyeParent .sayGoodbye {
  height: 100%;
}
.yourScalps .sayGoodbyeParent .sayGoodbye .round_featureParent {
  position: absolute;
  top: 46%;
  left: 65%;
  background-color: #fff;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: 99;
  overflow: hidden;
  border: 5px solid #fff;
  box-shadow: -1px 13px 4px 1px rgba(0, 0, 0, 0.2392156863);
}
.yourScalps .sayGoodbyeParent .sayGoodbye .round_featureParent .round_feature_sub {
  display: flex;
  flex-direction: column;
}
.yourScalps .sayGoodbyeParent .sayGoodbye .round_featureParent .round_feature_sub .icon_area {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.yourScalps .sayGoodbyeParent .sayGoodbye .round_featureParent .round_feature_sub .icon_area img {
  width: 60px;
}
.yourScalps .sayGoodbyeParent .sayGoodbye .round_featureParent .round_feature_sub .text_area {
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: #f6eab9;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.yourScalps .sayGoodbyeParent .sayGoodbye .round_featureParent .round_feature_sub .text_area p {
  width: 70%;
  font-size: 14px;
  font-weight: 600;
}
.yourScalps .sayGoodbyeParent .sayGoodbye .shampoo_image {
  width: 100%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: rotate(346deg);
  z-index: 9;
  position: relative;
  bottom: -70px;
}
.yourScalps .gentleEnoughParent {
  background-color: #207cde;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  position: relative;
  justify-content: center;
}
.yourScalps .gentleEnoughParent .gentleEnough {
  height: 100%;
  display: flex;
  align-items: end;
  margin: 0;
}
.yourScalps .gentleEnoughParent .gentleEnough .round_featureParent {
  position: absolute;
  top: 36%;
  left: 12%;
  background-color: #fff;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: 99;
  overflow: hidden;
  border: 5px solid #fff;
  box-shadow: -1px 13px 4px 1px rgba(0, 0, 0, 0.2392156863);
}
.yourScalps .gentleEnoughParent .gentleEnough .round_featureParent .round_feature_sub {
  display: flex;
  flex-direction: column;
}
.yourScalps .gentleEnoughParent .gentleEnough .round_featureParent .round_feature_sub .icon_area {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.yourScalps .gentleEnoughParent .gentleEnough .round_featureParent .round_feature_sub .icon_area img {
  width: 60px;
}
.yourScalps .gentleEnoughParent .gentleEnough .round_featureParent .round_feature_sub .text_area {
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: #9fcbf9;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.yourScalps .gentleEnoughParent .gentleEnough .round_featureParent .round_feature_sub .text_area p {
  width: 65%;
  font-size: 14px;
  font-weight: 600;
}
.yourScalps .gentleEnoughParent .gentleEnough .gentleEnoughImage {
  width: 100%;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 9;
  transform: scale(1.4);
}
.yourScalps .hydrateParent {
  background-color: #5dafae;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  position: relative;
  justify-content: end;
}
.yourScalps .hydrateParent .hydrate {
  height: 100%;
  display: flex;
  justify-content: right;
}
.yourScalps .hydrateParent .hydrate .round_featureParent {
  position: absolute;
  top: 46%;
  left: 12%;
  background-color: #fff;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: 99;
  overflow: hidden;
  border: 5px solid #fff;
  box-shadow: -1px 13px 4px 1px rgba(0, 0, 0, 0.2392156863);
}
.yourScalps .hydrateParent .hydrate .round_featureParent .round_feature_sub {
  display: flex;
  flex-direction: column;
}
.yourScalps .hydrateParent .hydrate .round_featureParent .round_feature_sub .icon_area {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.yourScalps .hydrateParent .hydrate .round_featureParent .round_feature_sub .icon_area img {
  width: 60px;
}
.yourScalps .hydrateParent .hydrate .round_featureParent .round_feature_sub .text_area {
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: #b8eded;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.yourScalps .hydrateParent .hydrate .round_featureParent .round_feature_sub .text_area p {
  width: 65%;
  font-size: 14px;
  font-weight: 600;
}
.yourScalps .hydrateParent .hydrate .hydrateImage {
  width: 100%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: rotate(15deg);
  z-index: 9;
  position: relative;
  bottom: -70px;
}
.yourScalps .yourScalpsBottomParent {
  margin-top: -8rem;
}
.yourScalps .yourScalpsBottomParent .yourScalpsBottom {
  background-color: #ffcc00;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9;
  box-shadow: rgba(0, 0, 0, 0.2509803922) -1px -1px 20px 0px;
}
.yourScalps .yourScalpsBottomParent .yourScalpsBottom p {
  font-size: 2.5rem;
  font-weight: 500;
  font-family: "helveticaMedium", sans-serif;
}
.yourScalps .yourScalpsBottomParent .yourScalpsBottom button {
  background-color: #ffcc00;
  border: 2px solid #fff;
  padding: 8px 25px;
  font-size: 2rem;
  font-weight: 500;
  color: #212427;
}

.theNezroralDiffrenceParent {
  font-family: "helveticaMedium", sans-serif;
}
.theNezroralDiffrenceParent h2 span {
  font-size: 3.5vw;
  color: #152b59;
  display: inline-block;
}

.scientificallyBacked {
  overflow: hidden;
}
.scientificallyBacked .scientificallyBackedYellow {
  font-family: "helveticaMedium", sans-serif;
  background-color: #ffcc00;
  width: 90%;
  height: 100vh;
  overflow: hidden;
}
.scientificallyBacked .scientificallyBackedYellow .scientificText {
  margin-top: 3rem;
}
.scientificallyBacked .scientificallyBackedYellow .scientificText h3 {
  color: #fff;
  font-size: 5rem;
  line-height: 1;
  display: inline-block;
  letter-spacing: 1px;
}
.scientificallyBacked .scientificallyBackedYellow .scientificText h2 {
  font-size: 14vw;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  margin-left: -5px;
  color: #fff;
  letter-spacing: 1px;
}
.scientificallyBacked .scientificallyBackedYellow .scientificText p {
  font-size: 2rem;
  width: 40%;
}
.scientificallyBacked .scientificallyBackedImage {
  padding: 0;
  position: absolute;
  top: 45%;
}
.scientificallyBacked .scientificallyBackedImage img {
  width: 90%;
  height: auto;
}

.fastLongLastingParent {
  height: 100vh;
  overflow: hidden;
  margin-top: -4rem;
}
.fastLongLastingParent .fastLongLasting {
  font-family: "helveticaMedium", sans-serif;
  background-color: #207cde;
  width: 90%;
  height: 100vh;
  overflow: hidden;
  margin-left: auto;
  margin-right: 0;
}
.fastLongLastingParent .fastLongLasting .fastLongLastingText {
  margin-top: 8rem;
}
.fastLongLastingParent .fastLongLasting .fastLongLastingText h3 {
  color: #fff;
  font-size: 5rem;
  line-height: 1;
  display: inline-block;
  letter-spacing: 1px;
}
.fastLongLastingParent .fastLongLasting .fastLongLastingText h2 {
  font-size: 14vw;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  margin-left: -5px;
  color: #fff;
  letter-spacing: 1px;
}
.fastLongLastingParent .fastLongLasting .fastLongLastingText p {
  font-size: 2rem;
  width: 45%;
  margin-left: auto;
}
.fastLongLastingParent .fastLongLastingImage {
  padding: 0;
  position: absolute;
  top: 28%;
}
.fastLongLastingParent .fastLongLastingImage img {
  width: 60%;
  height: 100%;
  transform: scaleX(-1);
}

.toughOnDandruffButNotOn {
  height: 100vh;
  overflow: hidden;
}
.toughOnDandruffButNotOn .toughOnDandruffButNotOnYellow {
  font-family: "helveticaMedium", sans-serif;
  background-color: #ffcc00;
  width: 90%;
  height: 100vh;
  overflow: hidden;
}
.toughOnDandruffButNotOn .toughOnDandruffButNotOnYellow .toughOnDandruffButNotOnText {
  margin-top: 8rem;
}
.toughOnDandruffButNotOn .toughOnDandruffButNotOnYellow .toughOnDandruffButNotOnText h3 {
  color: #fff;
  font-size: 4.4rem;
  line-height: 1;
  display: inline-block;
  letter-spacing: 1px;
}
.toughOnDandruffButNotOn .toughOnDandruffButNotOnYellow .toughOnDandruffButNotOnText h2 {
  font-size: 14vw;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  margin-left: -5px;
  color: #fff;
  letter-spacing: 1px;
}
.toughOnDandruffButNotOn .toughOnDandruffButNotOnYellow .toughOnDandruffButNotOnText p {
  font-size: 2rem;
  width: 40%;
}
.toughOnDandruffButNotOn .toughOnDandruffButNotOnImage {
  padding: 0;
  position: absolute;
  top: 0;
}
.toughOnDandruffButNotOn .toughOnDandruffButNotOnImage img {
  width: 60%;
  height: auto;
  position: absolute;
  right: 0;
}

.product_carousel {
  background-color: #ffcc00;
  width: 100%;
  height: 100vh;
  font-family: "helveticaMedium", sans-serif;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.product_carousel .slider_first {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}
.product_carousel .slider_first .slider_first_column_one {
  color: #152b59;
}
.product_carousel .slider_first .round_icon_area {
  background-color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid rgba(255, 204, 0, 0.6196078431);
  margin-left: auto;
  margin-right: -20px;
}
.product_carousel .slider_first .round_icon_area img {
  width: 60%;
}
.product_carousel .slider_first .round_icon_area_for_clinically_proven {
  background-color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid rgba(255, 204, 0, 0.6196078431);
  margin-left: auto;
}
.product_carousel .slider_first .round_icon_area_for_clinically_proven img {
  width: 60%;
}
.product_carousel .slider_first .fast_relief_round_icon_area {
  background-color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid rgba(255, 204, 0, 0.6196078431);
  margin-left: -20px;
}
.product_carousel .slider_first .fast_relief_round_icon_area img {
  width: 60%;
}
.product_carousel .slider_first .triple_action_round_icon_area {
  background-color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid rgba(255, 204, 0, 0.6196078431);
  margin-left: 0;
}
.product_carousel .slider_first .triple_action_round_icon_area img {
  width: 60%;
}
.product_carousel .slider_first .first_text_area h2 {
  font-size: 2rem;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.product_carousel .slider_first .first_text_area p {
  font-size: 1.3rem;
  width: 90%;
}
.product_carousel .slider_first .product_image_area {
  width: 100%;
}
.product_carousel .slider_first .product_image_area img {
  width: 90%;
  margin: 0 auto;
}
.product_carousel .discover button {
  background-color: #152b59;
  padding: 4px 15px;
  color: #fff;
  border: none;
  outline: none;
}

.allAboutDandruffParent {
  background-color: #5dafae;
  height: 100vh;
  overflow: hidden;
  color: #fff;
  font-family: "helveticaMedium", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.allAboutDandruffParent .allAboutDandruff h3 {
  font-size: 3rem;
}
.allAboutDandruffParent .allAboutDandruff h2 {
  font-size: 12vw;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  margin-left: -5px;
  letter-spacing: 1px;
  position: relative;
  z-index: 9;
}
.allAboutDandruffParent .allAboutDandruff p {
  font-size: 1.5rem;
  width: 30%;
}
.allAboutDandruffParent .allAboutDandruff button {
  background-color: #152b59;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px 20px;
}
.allAboutDandruffParent .allAboutDandruffImage img {
  width: 60%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
}

.banner_dandruff_education {
  background-color: #ffcc00;
  height: 100vh;
  color: #152b59;
  font-family: "helveticaMedium", sans-serif;
  overflow: hidden;
  padding-top: 180px;
  display: flex;
  align-items: center;
}
.banner_dandruff_education .bannerTextArea h1 {
  font-size: 12vw;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
}
.banner_dandruff_education .bannerTextArea h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}
.banner_dandruff_education .banner_dandruff_educationBoy {
  width: 100%;
}
.banner_dandruff_education .banner_dandruff_educationBoy img {
  width: 50%;
  position: absolute;
  bottom: -85px;
  right: 0;
  z-index: 9;
}

.which_environmental_factors .environmentalFactorsParent {
  color: #152b59;
  width: 90%;
  font-family: "helveticaMedium", sans-serif;
}
.which_environmental_factors .environmentalFactorsParent h2 {
  font-size: 2rem;
  width: 63%;
}

.environmentalFactors {
  overflow: hidden;
  font-family: "helveticaMedium", sans-serif;
}
.environmentalFactors .externalInfluencesYellow {
  background-color: #ffcc00;
  height: 100vh;
  overflow: hidden;
}
.environmentalFactors .externalInfluencesYellow .externalInfluencesText {
  color: #152b59;
}
.environmentalFactors .externalInfluencesYellow .externalInfluencesText h3 {
  font-size: 2rem;
  line-height: 1;
  letter-spacing: 1px;
}
.environmentalFactors .externalInfluencesYellow .externalInfluencesText h2 {
  font-size: 8vw;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  margin-left: -5px;
  letter-spacing: 1px;
}
.environmentalFactors .externalInfluencesYellow .externalInfluencesText .light_yellow_area {
  background-color: #ffe066;
  padding: 20px;
}
.environmentalFactors .externalInfluencesYellow .externalInfluencesText .light_yellow_area p {
  font-size: 1.5rem;
}
.environmentalFactors .externalInfluencesYellow .externalInfluencesImage {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.environmentalFactors .externalInfluencesYellow .externalInfluencesImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.avoid-irritating-the-scalp {
  width: 100%;
  height: 100vh;
  font-family: "helveticaMedium", sans-serif;
  display: flex;
  align-items: center;
}
.avoid-irritating-the-scalp .text_area {
  width: 68%;
  text-align: center;
  margin: 0 auto;
}
.avoid-irritating-the-scalp .text_area p {
  font-size: 2rem;
}
.avoid-irritating-the-scalp .text_area h2 {
  font-size: 3rem;
  font-weight: 600;
  margin-top: 3rem;
}

.air_pollution {
  background-color: #ffcc00;
  height: 100vh;
  color: #152b59;
  font-family: "helveticaMedium", sans-serif;
  overflow: hidden;
}
.air_pollution .col-md-4 .air_pollution_image {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.air_pollution .col-md-4 .air_pollution_image img {
  width: auto;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.air_pollution .air_pollution_content {
  padding: 50px;
}
.air_pollution .air_pollution_content h2 {
  font-size: 8vw;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  margin-left: -5px;
  letter-spacing: 1px;
}

.extream_weather {
  background-color: #ffcc00;
  height: 100vh;
  color: #152b59;
  font-family: "helveticaMedium", sans-serif;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.extream_weather .col-md-4 .air_pollution_image {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.extream_weather .col-md-4 .air_pollution_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.extream_weather .air_pollution_content {
  padding: 50px;
}
.extream_weather .air_pollution_content h2 {
  font-size: 8vw;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  margin-left: -5px;
  letter-spacing: 1px;
}

.Dry-air {
  background-color: #ffcc00;
  height: 100vh;
  color: #152b59;
  font-family: "helveticaMedium", sans-serif;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.Dry-air .col-md-4 .air_pollution_image {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.Dry-air .col-md-4 .air_pollution_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.Dry-air .air_pollution_content {
  padding: 50px;
}
.Dry-air .air_pollution_content h2 {
  font-size: 8vw;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  margin-left: -5px;
  letter-spacing: 1px;
}

.hat-scarf {
  background-color: #ffcc00;
  height: 100vh;
  color: #152b59;
  font-family: "helveticaMedium", sans-serif;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.hat-scarf .col-md-4 .air_pollution_image {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.hat-scarf .col-md-4 .air_pollution_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.hat-scarf .air_pollution_content {
  padding: 50px;
}
.hat-scarf .air_pollution_content h2 {
  font-size: 8vw;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  margin-left: -5px;
  letter-spacing: 1px;
}

.styling-products {
  background-color: #ffcc00;
  height: 100vh;
  color: #152b59;
  font-family: "helveticaMedium", sans-serif;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.styling-products .col-md-4 .air_pollution_image {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.styling-products .col-md-4 .air_pollution_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.styling-products .air_pollution_content {
  padding: 50px;
}
.styling-products .air_pollution_content h2 {
  font-size: 8vw;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  margin-left: -5px;
  letter-spacing: 1px;
}

.range_discover {
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.range_discover .rangeTextArea {
  color: #152b59;
}
.range_discover .rangeTextArea h1 {
  font-size: 12vw;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
}
.range_discover .rangeTextArea h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}
.range_discover .rangeTextArea p {
  font-size: 1.5rem;
  font-weight: 600;
  width: 35%;
}
.range_discover .range_drops {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: end;
  right: 20px;
  bottom: 60px;
}
.range_discover .range_drops img {
  width: 18%;
}

.white_part_nizoraal_range {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 5rem;
}
.white_part_nizoraal_range .nizoral_medical_shampoo {
  font-family: "helveticaMedium", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -70px;
}
.white_part_nizoraal_range .nizoral_medical_shampoo .shampooImage img {
  width: 100%;
}
.white_part_nizoraal_range .nizoral_medical_shampoo .range_text {
  background-color: #ffcc00;
  padding: 40px;
  height: 50%;
  width: 50%;
  color: #152b59;
}
.white_part_nizoraal_range .nizoral_medical_shampoo .range_text h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}
.white_part_nizoraal_range .whereToBuy button {
  font-family: "helveticaMedium", sans-serif;
  background-color: #152b59;
  padding: 4px 15px;
  color: #fff;
  outline: none;
  border: none;
  width: 15%;
  margin: 0 auto;
  margin-top: 2rem;
}

.scintific_baked_formula .baked_text {
  color: #152b59;
  font-family: "helveticaMedium", sans-serif;
}
.scintific_baked_formula .baked_text h3 {
  font-size: 3vw;
  font-weight: normal;
  line-height: 1;
}
.scintific_baked_formula .baked_text h2 {
  font-size: 6vw;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
}
.scintific_baked_formula .baked_text p {
  font-size: 1.5rem;
  font-weight: normal;
  width: 75%;
}
.scintific_baked_formula .scintific_image {
  background-color: #5dafae;
}
.scintific_baked_formula .scintific_image img {
  width: 100%;
}

.say_good_bye_to_dandruff_itching {
  font-family: "helveticaMedium", sans-serif;
  color: #152b59;
  height: 100vh;
  padding: 40px 0;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.say_good_bye_to_dandruff_itching .heading {
  margin: 0 auto;
  width: 50%;
}
.say_good_bye_to_dandruff_itching .heading h2 {
  font-size: 6vw;
  font-weight: 700;
  line-height: 1;
}
.say_good_bye_to_dandruff_itching .heading h2 span {
  font-size: 3vw;
  font-weight: normal;
  line-height: 1;
}
.say_good_bye_to_dandruff_itching .heading h3 {
  font-size: 3vw;
  font-weight: normal;
  line-height: 1;
}
.say_good_bye_to_dandruff_itching .shampoo {
  text-align: center;
}
.say_good_bye_to_dandruff_itching .shampoo img {
  width: 60%;
  margin-bottom: 2rem;
}
.say_good_bye_to_dandruff_itching .shampoo h2 {
  font-size: 2.5vw;
  font-weight: 600;
}
.say_good_bye_to_dandruff_itching .shampoo p {
  width: 90%;
  margin: 0 auto;
  font-size: 1.2rem;
}

.expret_advice {
  padding: 5rem 0;
  font-family: "helveticaMedium", sans-serif;
  color: #152b59;
  background-color: #3db2d8;
}
.expret_advice .expret_advice_text h2 {
  font-size: 12vw;
  font-weight: 600;
  line-height: 1;
}
.expret_advice .expret_advice_text h3 {
  font-size: 3vw;
  font-weight: 600;
}
.expret_advice .dandruff_vs_scalp .dandruff_vs_scalp_area {
  display: flex;
}
.expret_advice .dandruff_vs_scalp .dandruff_vs_scalp_area img {
  width: 30%;
}
.expret_advice .dandruff_vs_scalp .dandruff_vs_scalp_area .text_area {
  width: 40%;
  margin-left: 2rem;
}
.expret_advice .dandruff_vs_scalp .dandruff_vs_scalp_area .text_area h2 {
  font-size: 2rem;
  font-weight: 600;
}
.expret_advice .dandruff_vs_scalp .dandruff_vs_scalp_area .text_area a {
  color: #152b59;
  text-decoration: none;
  font-weight: bold;
}

footer {
  background-color: #ffcc00;
  padding: 50px 0;
}
footer .col-md-3 {
  font-family: "helveticaMedium", sans-serif;
}
footer .col-md-3 .stada {
  filter: brightness(0%);
  width: 60%;
}
footer .col-md-3 ul {
  padding: 0;
}
footer .col-md-3 ul li {
  list-style: none;
  margin: 15px 0;
}
footer .col-md-3 ul li a {
  color: #212427;
  text-decoration: none;
}
footer .col-md-3 .social_icon {
  display: flex;
  gap: 2rem;
}
footer .col-md-3 .social_icon li a img {
  width: 2vw;
}

.dandruff_education_carousel {
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #152b59;
}
.dandruff_education_carousel .text_area_for_slider {
  font-family: "helveticaMedium", sans-serif;
}
.dandruff_education_carousel .text_area_for_slider h2 {
  font-size: 3vw;
}
.dandruff_education_carousel .text_area_for_slider h3 {
  width: 60%;
  margin: 0 auto;
  font-size: 1.5vw;
}
.dandruff_education_carousel .DE_slider_area .slider1 img {
  width: 50%;
}
.dandruff_education_carousel .nizoral-product .slider-1 {
  font-family: "helveticaMedium", sans-serif;
  text-align: center;
}
.dandruff_education_carousel .nizoral-product .slider-1 img {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.dandruff_education_carousel .nizoral-product .slider-1 h2 {
  font-size: 1.5rem;
}
.dandruff_education_carousel .nizoral-product .slider-1 h4 {
  font-size: 1.1rem;
}

.blink_text span {
  animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}
.sprinkles {
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
}

.sprinkles:before,
.sprinkles:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.sprinkles:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #152b59 20%, transparent 20%), radial-gradient(circle, transparent 20%, #152b59 20%, transparent 30%), radial-gradient(circle, #152b59 20%, transparent 20%), radial-gradient(circle, #152b59 20%, transparent 20%), radial-gradient(circle, transparent 10%, #152b59 15%, transparent 20%), radial-gradient(circle, #152b59 20%, transparent 20%), radial-gradient(circle, #152b59 20%, transparent 20%), radial-gradient(circle, #152b59 20%, transparent 20%), radial-gradient(circle, #152b59 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
.sprinkles:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #152b59 20%, transparent 20%), radial-gradient(circle, #152b59 20%, transparent 20%), radial-gradient(circle, transparent 10%, #152b59 15%, transparent 20%), radial-gradient(circle, #152b59 20%, transparent 20%), radial-gradient(circle, #152b59 20%, transparent 20%), radial-gradient(circle, #152b59 20%, transparent 20%), radial-gradient(circle, #152b59 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
.hide-header {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.dandruff_education_carousel .owl-nav {
  position: absolute;
  top: 50%;
  /* Center vertically */
  width: 100%;
  /* Span the width of the carousel */
  transform: translateY(-50%);
  /* Adjust for the top alignment */
  display: flex;
  justify-content: space-between;
  /* Push buttons to the sides */
  align-items: center;
}

.dandruff_education_carousel .owl-nav button.owl-prev,
.dandruff_education_carousel .owl-nav button.owl-next {
  width: auto;
  /* Increased button width */
  height: auto;
  /* Increased button height */
}

.dandruff_education_carousel .owl-nav button.owl-prev {
  position: absolute;
  left: -30px;
  /* Adjust left arrow position */
}

.dandruff_education_carousel .owl-nav button.owl-next {
  position: absolute;
  right: -30px;
  /* Adjust right arrow position */
}

.dandruff_education_carousel .owl-nav span {
  font-size: 8rem !important;
  font-weight: 100;
  color: #152b59;
}
.dandruff_education_carousel .owl-nav span:hover {
  color: #ffcc00;
}

.dandruff_education_carousel .owl-theme .owl-nav [class*=owl-]:hover {
  background-color: transparent !important;
}

.product_carousel .owl-nav {
  position: absolute;
  top: 50%;
  /* Center vertically */
  width: 100%;
  /* Span the width of the carousel */
  transform: translateY(-50%);
  /* Adjust for the top alignment */
  display: flex;
  justify-content: space-between;
  /* Push buttons to the sides */
  align-items: center;
}

.product_carousel .owl-nav button.owl-prev,
.product_carousel .owl-nav button.owl-next {
  width: auto;
  /* Increased button width */
  height: auto;
  /* Increased button height */
}

.product_carousel .owl-nav button.owl-prev {
  position: absolute;
  left: -30px;
  /* Adjust left arrow position */
}

.product_carousel .owl-nav button.owl-next {
  position: absolute;
  right: -30px;
  /* Adjust right arrow position */
}

.product_carousel .owl-nav span {
  font-size: 8rem !important;
  font-weight: 100;
  color: #152b59;
}

.product_carousel .owl-theme .owl-nav [class*=owl-]:hover {
  background-color: transparent !important;
}/*# sourceMappingURL=style.css.map */