@import "mixin";

@font-face {
    font-family: helveticaMedium;
    src: url(../font/HelveticaNeueMedium.otf);
}

$yellow_header: #ffcc00;
$blue_font: #152b59;
$black_font: #212427;
$skyBlue: #207cde;
$lightGreen: #5dafae;
$lightBlue: #3db2d8;
$font_family: "helveticaMedium", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font_family;
    color: $black_font;
    overflow-x: hidden;
}

.container-custom {
    max-width: 90%;
    /* Adjust this percentage as needed */
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: $yellow_header;
    padding-bottom: 5rem;
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 180px;
    transition: transform 0.3s ease-in-out;

    /* Lower priority */
    .navbar-nav {
        li {
            background-color: $yellow_header;

            a {
                font-weight: bold;
                font-size: 18px;
            }
        }
    }

    .buyNow {
        button {
            background-color: $yellow_header;
            border: 2px solid $black_font;
            font-size: 18px;
            font-size: 18px;
            font-weight: 500;
            padding: 12px 30px 12px 30px;
        }
    }
}

.banner {
    width: 100%;
    height: 100vh;
    background: $skyBlue;
    background: linear-gradient(295deg,
            rgba(35, 126, 222, 1) 0%,
            rgb(35 126 222 / 36%) 29%,
            rgba(35, 126, 222, 1) 100%);
    position: relative;
    overflow: visible;
    padding-top: 180px;

    .bannerTextArea {
        color: $blue_font;
        font-family: $font_family;
        margin-top: 5rem;

        span {
            font-size: 3rem;
            font-weight: 700;
            line-height: 1;
        }

        h1 {
            overflow: hidden;

            span {
                font-size: 12vw;
                text-transform: uppercase;
                font-weight: 700;
                line-height: 1;
                margin-left: -5px;
                display: inline-block;
            }
        }

        h2 {
            margin-top: -1rem;

            span {
                font-size: 3rem;
                font-weight: 700;
                line-height: 1;
                display: inline-block;
            }
        }

        p {
            font-size: 1.5rem;
            font-weight: 600;
            width: 40%;
        }
    }

    .bannerBoy {
        width: 100%;

        img {
            width: 55%;
            position: absolute;
            bottom: 0;
            right: -50px;
            z-index: 9;
        }
    }

    .blinkArea {
        width: 100%;

        .blink_text {
            font-family: $font_family;
            font-size: 5rem;
            color: #fff;
            font-weight: 600;
            opacity: 0.4;

            span:nth-child(1) {
                position: absolute;
                top: 10%;
            }

            span:nth-child(2) {
                position: absolute;
                bottom: 10%;
            }

            span:nth-child(3) {
                position: absolute;
                right: 10%;
                top: 10%;
            }

            span:nth-child(4) {
                position: absolute;
                right: 20%;
                bottom: 10%;
            }

            span:nth-child(5) {
                position: absolute;
                right: 42%;
                bottom: 30%;
            }

            span:nth-child(6) {
                position: absolute;
                right: 10%;
                bottom: 50%;
            }

            span:nth-child(7) {
                position: absolute;
                left: 20%;
                bottom: 50%;
            }
        }
    }
}

.yourScalps {
    overflow: hidden;
    background: linear-gradient(295deg,
            rgba(35, 126, 222, 1) 0%,
            rgb(35 126 222 / 36%) 29%,
            rgba(35, 126, 222, 1) 100%);

    .bestfriend {
        position: absolute;
        left: 0;
        right: 0;
        top: 40px;
        margin-inline: auto;
        width: fit-content;
        color: #fff;
        font-family: $font_family;
        text-align: center;
        z-index: 9;

        h2 {
            span {
                font-size: 4.5vw;
                display: inline-block;
            }
        }

        h3 {
            margin-top: -2rem;

            span {
                font-size: 12vw;
                font-weight: bold;
                display: inline-block;
            }
        }
    }

    .sayGoodbyeParent {
        @include yourScalps($yellow_header);

        .sayGoodbye {
            height: 100%;

            .round_featureParent {
                @include round_featureParent(46%, 65%);

                .round_feature_sub {
                    @include round_feature_sub;

                    .icon_area {
                        @include icon_area;

                        img {
                            width: 60px;
                        }
                    }

                    .text_area {
                        @include text_area(#f6eab9);

                        p {
                            @include textAreaP(70%);
                        }
                    }
                }
            }

            .shampoo_image {
                width: 100%;
                height: 90%;
                object-fit: cover;
                transform: rotate(346deg);
                z-index: 9;
                position: relative;
                bottom: -70px;
            }
        }
    }

    .gentleEnoughParent {
        @include yourScalps($skyBlue);
        justify-content: center;

        .gentleEnough {
            height: 100%;
            display: flex;
            align-items: end;
            margin: 0;

            .round_featureParent {
                @include round_featureParent(36%, 12%);

                .round_feature_sub {
                    @include round_feature_sub;

                    .icon_area {
                        @include icon_area;

                        img {
                            width: 60px;
                        }
                    }

                    .text_area {
                        @include text_area(#9fcbf9);

                        p {
                            @include textAreaP(65%);
                        }
                    }
                }
            }

            .gentleEnoughImage {
                width: 100%;
                height: 60%;
                object-fit: cover;
                z-index: 9;
                transform: scale(1.4);
            }
        }
    }

    .hydrateParent {
        @include yourScalps($lightGreen);
        justify-content: end;

        .hydrate {
            height: 100%;
            display: flex;
            justify-content: right;

            .round_featureParent {
                @include round_featureParent(46%, 12%);

                .round_feature_sub {
                    @include round_feature_sub;

                    .icon_area {
                        @include icon_area;

                        img {
                            width: 60px;
                        }
                    }

                    .text_area {
                        @include text_area(#b8eded);

                        p {
                            @include textAreaP(65%);
                        }
                    }
                }
            }

            .hydrateImage {
                width: 100%;
                height: 90%;
                object-fit: cover;
                transform: rotate(15deg);
                z-index: 9;
                position: relative;
                bottom: -70px;
            }
        }
    }

    .yourScalpsBottomParent {
        margin-top: -8rem;

        .yourScalpsBottom {
            background-color: $yellow_header;
            padding: 2rem 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 9;
            box-shadow: #00000040 -1px -1px 20px 0px;

            p {
                font-size: 1.7rem;
                font-weight: 500;
                font-family: $font_family;
            }

            button {
                background-color: $yellow_header;
                border: 2px solid #fff;
                padding: 8px 25px;
                font-size: 1.5rem;
                font-weight: 500;
                color: $black_font;
            }
        }
    }
}

.theNezroralDiffrenceParent {
    font-family: $font_family;

    h2 {
        span {
            font-size: 3.5vw;
            color: $blue_font;
            display: inline-block;
        }
    }
}

.scientificallyBacked {
    // height: 100vh;
    overflow: hidden;

    .scientificallyBackedYellow {
        font-family: $font_family;
        background-color: $yellow_header;
        width: 90%;
        height: 100vh;
        overflow: hidden;

        .scientificText {
            margin-top: 3rem;

            h3 {
                color: #fff;
                font-size: 5rem;
                line-height: 1;
                display: inline-block;
                letter-spacing: 1px;
            }

            h2 {
                font-size: 14vw;
                text-transform: uppercase;
                font-weight: 700;
                line-height: 1;
                margin-left: -5px;
                color: #fff;
                letter-spacing: 1px;
            }

            p {
                font-size: 2rem;
                width: 40%;
            }
        }
    }

    .scientificallyBackedImage {
        padding: 0;
        position: absolute;
        top: 45%;

        img {
            width: 90%;
            height: auto;
        }
    }
}

.fastLongLastingParent {
    height: 100vh;
    overflow: hidden;
    margin-top: -4rem;

    .fastLongLasting {
        font-family: $font_family;
        background-color: $skyBlue;
        width: 90%;
        height: 100vh;
        overflow: hidden;
        margin-left: auto;
        margin-right: 0;

        .fastLongLastingText {
            margin-top: 8rem;

            h3 {
                color: #fff;
                font-size: 5rem;
                line-height: 1;
                display: inline-block;
                letter-spacing: 1px;
            }

            h2 {
                font-size: 14vw;
                text-transform: uppercase;
                font-weight: 700;
                line-height: 1;
                margin-left: -5px;
                color: #fff;
                letter-spacing: 1px;
            }

            p {
                font-size: 2rem;
                width: 45%;
                margin-left: auto;
            }
        }
    }

    .fastLongLastingImage {
        padding: 0;
        position: absolute;
        top: 28%;

        img {
            width: 60%;
            height: 100%;
            transform: scaleX(-1);
        }
    }
}

.toughOnDandruffButNotOn {
    height: 100vh;
    overflow: hidden;

    .toughOnDandruffButNotOnYellow {
        font-family: $font_family;
        background-color: $yellow_header;
        width: 90%;
        height: 100vh;
        overflow: hidden;

        .toughOnDandruffButNotOnText {
            margin-top: 8rem;

            h3 {
                color: #fff;
                font-size: 4.4rem;
                line-height: 1;
                display: inline-block;
                letter-spacing: 1px;
            }

            h2 {
                font-size: 14vw;
                text-transform: uppercase;
                font-weight: 700;
                line-height: 1;
                margin-left: -5px;
                color: #fff;
                letter-spacing: 1px;
            }

            p {
                font-size: 2rem;
                width: 40%;
            }
        }
    }

    .toughOnDandruffButNotOnImage {
        padding: 0;
        position: absolute;
        top: 0;

        img {
            width: 60%;
            height: auto;
            position: absolute;
            right: 0;
        }
    }
}

.product_carousel {
    background-color: $yellow_header;
    width: 100%;
    height: 100vh;
    font-family: $font_family;
    display: flex;
    align-items: center;
    overflow: hidden;

    .slider_first {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin: 0 auto;

        .slider_first_column_one {
            color: $blue_font;
        }

        .round_icon_area {
            @include round_icon_area(auto);
            margin-right: -20px;
        }

        .round_icon_area_for_clinically_proven {
            @include round_icon_area(auto);
        }

        .fast_relief_round_icon_area {
            @include round_icon_area(-20px);
        }

        .triple_action_round_icon_area {
            @include round_icon_area(0);
        }

        .first_text_area {
            h2 {
                font-size: 2rem;
                line-height: 1;
                letter-spacing: 1px;
                text-transform: uppercase;
            }

            p {
                font-size: 1.3rem;
                width: 90%;
            }
        }

        .product_image_area {
            width: 100%;
            img {
                width: 90%;
                margin: 0 auto;
            }
        }
    }

    .discover {
        button {
            background-color: $blue_font;
            padding: 4px 15px;
            color: #fff;
            border: none;
            outline: none;
        }
    }
}

.allAboutDandruffParent {
    background-color: $lightGreen;
    height: 100vh;
    overflow: hidden;
    color: #fff;
    font-family: $font_family;
    display: flex;
    align-items: center;
    justify-content: center;

    .allAboutDandruff {
        h3 {
            font-size: 3rem;
        }

        h2 {
            font-size: 12vw;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 1;
            margin-left: -5px;
            letter-spacing: 1px;
            position: relative;
            z-index: 9;
        }

        p {
            font-size: 1.5rem;
            width: 30%;
        }

        button {
            background-color: $blue_font;
            color: #fff;
            border: none;
            outline: none;
            padding: 10px 20px;
        }
    }

    .allAboutDandruffImage {
        img {
            width: 60%;
            height: auto;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}

// ----------------------------------------------------------------------------------------------------Dandruff Education------------------------------------------------------
.banner_dandruff_education {
    background-color: $yellow_header;
    height: 100vh;
    color: $blue_font;
    font-family: $font_family;
    overflow: hidden;
    padding-top: 180px;
    display: flex;
    align-items: center;

    .bannerTextArea {
        h1 {
            font-size: 12vw;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 1;
        }

        h2 {
            font-size: 3rem;
            font-weight: 700;
            line-height: 1;
        }
    }

    .banner_dandruff_educationBoy {
        width: 100%;

        img {
            width: 50%;
            position: absolute;
            bottom: -85px;
            right: 0;
            z-index: 9;
        }
    }
}

.which_environmental_factors {
    .environmentalFactorsParent {
        color: $blue_font;
        width: 90%;
        font-family: $font_family;

        h2 {
            font-size: 2rem;
            width: 63%;
        }

        // p {
        //     font-size: 1.5rem;
        //     line-height: 1;
        //     letter-spacing: 1px;
        // }
    }
}

.environmentalFactors {
    overflow: hidden;
    font-family: $font_family;

    .externalInfluencesYellow {
        background-color: $yellow_header;
        height: 100vh;
        overflow: hidden;

        .externalInfluencesText {
            color: $blue_font;

            h3 {
                font-size: 2rem;
                line-height: 1;
                letter-spacing: 1px;
            }

            h2 {
                font-size: 8vw;
                text-transform: uppercase;
                font-weight: 700;
                line-height: 1;
                margin-left: -5px;
                letter-spacing: 1px;
            }

            .light_yellow_area {
                background-color: #ffe066;
                padding: 20px;

                p {
                    font-size: 1.5rem;
                }
            }
        }

        .externalInfluencesImage {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.avoid-irritating-the-scalp {
    width: 100%;
    height: 100vh;
    font-family: $font_family;
    display: flex;
    align-items: center;

    .text_area {
        width: 68%;
        text-align: center;
        margin: 0 auto;

        p {
            font-size: 2rem;
        }

        h2 {
            font-size: 3rem;
            font-weight: 600;
            margin-top: 3rem;
        }
    }
}

.air_pollution {
    background-color: $yellow_header;
    height: 100vh;
    color: $blue_font;
    font-family: $font_family;
    overflow: hidden;

    .col-md-4 {
        .air_pollution_image {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;
            overflow: hidden;

            img {
                width: auto;
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
            }
        }
    }

    .air_pollution_content {
        padding: 50px;

        h2 {
            font-size: 8vw;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 1;
            margin-left: -5px;
            letter-spacing: 1px;
        }
    }
}

.extream_weather {
    @include air_pollution;
}

.Dry-air {
    @include air_pollution;
}

.hat-scarf {
    @include air_pollution;
}

.styling-products {
    @include air_pollution;
}

// ---------------------------------------------Dandruff Education End------------------------------------------------------

// ---------------------------------------------Nizoral Range------------------------------------------------------
.range_discover {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;

    .rangeTextArea {
        color: $blue_font;

        h1 {
            @include bannerh1;
        }

        h2 {
            @include bannerh2;
        }

        p {
            @include bannerP;
            width: 35%;
        }
    }

    .range_drops {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: end;
        right: 20px;
        bottom: 60px;

        img {
            width: 18%;
        }
    }
}

.white_part_nizoraal_range {
    @include white_part_nizoraal_range;
    padding-bottom: 5rem;

    .nizoral_medical_shampoo {
        @include nizoral_medical_shampoo;

        .shampooImage {
            @include shampooImage;
        }

        .range_text {
            @include range_text($yellow_header);

            h2 {
                @include bannerh2;
            }
        }
    }

    .whereToBuy {
        button {
            font-family: $font_family;
            background-color: #152b59;
            padding: 4px 15px;
            color: #fff;
            outline: none;
            border: none;
            width: 15%;
            margin: 0 auto;
            margin-top: 2rem;
        }
    }
}

.scintific_baked_formula {
    .baked_text {
        color: $blue_font;
        font-family: $font_family;

        h3 {
            font-size: 3vw;
            font-weight: normal;
            line-height: 1;
        }

        h2 {
            font-size: 6vw;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 1;
        }

        p {
            font-size: 1.5rem;
            font-weight: normal;
            width: 75%;
        }
    }

    .scintific_image {
        background-color: $lightGreen;

        img {
            width: 100%;
        }
    }
}

.say_good_bye_to_dandruff_itching {
    font-family: $font_family;
    color: $blue_font;
    height: 100vh;
    padding: 40px 0;
    display: flex;
    align-items: center;
    overflow: hidden;

    .heading {
        margin: 0 auto;
        width: 50%;

        h2 {
            font-size: 6vw;
            font-weight: 700;
            line-height: 1;

            span {
                font-size: 3vw;
                font-weight: normal;
                line-height: 1;
            }
        }

        h3 {
            font-size: 3vw;
            font-weight: normal;
            line-height: 1;
        }
    }

    .shampoo {
        text-align: center;

        img {
            width: 60%;
            margin-bottom: 2rem;
        }

        h2 {
            font-size: 2.5vw;
            font-weight: 600;
        }

        p {
            width: 90%;
            margin: 0 auto;
            font-size: 1.2rem;
        }
    }
}

.expret_advice {
    padding: 5rem 0;
    font-family: $font_family;
    color: $blue_font;
    background-color: $lightBlue;

    .expret_advice_text {
        h2 {
            font-size: 12vw;
            font-weight: 600;
            line-height: 1;
        }

        h3 {
            font-size: 3vw;
            font-weight: 600;
        }
    }

    .dandruff_vs_scalp {

        .dandruff_vs_scalp_area {
            display: flex;

            img {
                width: 30%;
            }

            .text_area {
                width: 40%;
                margin-left: 2rem;

                h2 {
                    font-size: 2rem;
                    font-weight: 600;
                }

                a {
                    color: $blue_font;
                    text-decoration: none;
                    font-weight: bold;
                }
            }
        }
    }
}

// ---------------------------------------------Nizoral Range End------------------------------------------------------

footer {
    background-color: $yellow_header;
    padding: 50px 0;

    .col-md-3 {
        font-family: $font_family;

        .stada {
            filter: brightness(0%);
            width: 60%;
        }

        ul {
            padding: 0;

            li {
                list-style: none;
                margin: 15px 0;

                a {
                    color: $black_font;
                    text-decoration: none;
                }
            }
        }

        .social_icon {
            display: flex;
            gap: 2rem;

            li {
                a {
                    img {
                        width: 2vw;
                    }
                }
            }
        }
    }
}

// Slider
.dandruff_education_carousel {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $blue_font;

    .text_area_for_slider {
        font-family: $font_family;

        h2 {
            font-size: 3vw;
        }

        h3 {
            width: 60%;
            margin: 0 auto;
            font-size: 1.5vw;
        }
    }

    .DE_slider_area {
        .slider1 {
            img {
                width: 50%;
            }
        }
    }

    .nizoral-product {
        .slider-1 {
            font-family: $font_family;
            text-align: center;

            img {
                width: 60%;
                margin: 0 auto;
                margin-bottom: 1rem;
            }

            h2 {
                font-size: 1.5rem;
            }

            h4 {
                font-size: 1.1rem;
            }
        }
    }
}

// ----------------------------------------------------------------------------------------------------Animations------------------------------------------------------
.blink_text span {
    animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }

    100% {
        display: none;
    }
}

//   hover animation
.sprinkles {
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease;
}

.sprinkles:before,
.sprinkles:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
}

.sprinkles:hover:before {
    top: -70%;
    background-image: radial-gradient(circle, $blue_font 20%, transparent 20%),
        radial-gradient(circle, transparent 20%, $blue_font 20%, transparent 30%),
        radial-gradient(circle, $blue_font 20%, transparent 20%),
        radial-gradient(circle, $blue_font 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, $blue_font 15%, transparent 20%),
        radial-gradient(circle, $blue_font 20%, transparent 20%),
        radial-gradient(circle, $blue_font 20%, transparent 20%),
        radial-gradient(circle, $blue_font 20%, transparent 20%),
        radial-gradient(circle, $blue_font 20%, transparent 20%);
    background-size:
        10% 10%,
        20% 20%,
        15% 15%,
        20% 20%,
        18% 18%,
        10% 10%,
        15% 15%,
        10% 10%,
        18% 18%;
    background-position: 50% 120%;
    animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
    0% {
        background-position:
            5% 90%,
            10% 90%,
            10% 90%,
            15% 90%,
            25% 90%,
            25% 90%,
            40% 90%,
            55% 90%,
            70% 90%;
    }

    50% {
        background-position:
            0% 80%,
            0% 20%,
            10% 40%,
            20% 0%,
            30% 30%,
            22% 50%,
            50% 50%,
            65% 20%,
            90% 30%;
    }

    100% {
        background-position:
            0% 70%,
            0% 10%,
            10% 30%,
            20% -10%,
            30% 20%,
            22% 40%,
            50% 40%,
            65% 10%,
            90% 20%;
        background-size:
            0% 0%,
            0% 0%,
            0% 0%,
            0% 0%,
            0% 0%,
            0% 0%;
    }
}

.sprinkles:hover::after {
    bottom: -70%;
    background-image: radial-gradient(circle, $blue_font 20%, transparent 20%),
        radial-gradient(circle, $blue_font 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, $blue_font 15%, transparent 20%),
        radial-gradient(circle, $blue_font 20%, transparent 20%),
        radial-gradient(circle, $blue_font 20%, transparent 20%),
        radial-gradient(circle, $blue_font 20%, transparent 20%),
        radial-gradient(circle, $blue_font 20%, transparent 20%);
    background-size:
        15% 15%,
        20% 20%,
        18% 18%,
        20% 20%,
        15% 15%,
        20% 20%,
        18% 18%;
    background-position: 50% 0%;
    animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
    0% {
        background-position:
            10% -10%,
            30% 10%,
            55% -10%,
            70% -10%,
            85% -10%,
            70% -10%,
            70% 0%;
    }

    50% {
        background-position:
            0% 80%,
            20% 80%,
            45% 60%,
            60% 100%,
            75% 70%,
            95% 60%,
            105% 0%;
    }

    100% {
        background-position:
            0% 90%,
            20% 90%,
            45% 70%,
            60% 110%,
            75% 80%,
            95% 70%,
            110% 10%;
        background-size:
            0% 0%,
            0% 0%,
            0% 0%,
            0% 0%,
            0% 0%,
            0% 0%;
    }
}

//   hover animation end

.hide-header {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

.dandruff_education_carousel .owl-nav {
    position: absolute;
    top: 50%;
    /* Center vertically */
    width: 100%;
    /* Span the width of the carousel */
    transform: translateY(-50%);
    /* Adjust for the top alignment */
    display: flex;
    justify-content: space-between;
    /* Push buttons to the sides */
    align-items: center;
}

.dandruff_education_carousel .owl-nav button.owl-prev,
.dandruff_education_carousel .owl-nav button.owl-next {
    width: auto;
    /* Increased button width */
    height: auto;
    /* Increased button height */
}

.dandruff_education_carousel .owl-nav button.owl-prev {
    position: absolute;
    left: -30px;
    /* Adjust left arrow position */
}

.dandruff_education_carousel .owl-nav button.owl-next {
    position: absolute;
    right: -30px;
    /* Adjust right arrow position */
}

.dandruff_education_carousel .owl-nav span {
    font-size: 8rem !important;
    font-weight: 100;
    color: $blue_font;

    &:hover {
        color: $yellow_header;
    }
}

.dandruff_education_carousel .owl-theme .owl-nav [class*="owl-"]:hover {
    background-color: transparent !important;
}


////////////////////////////

.product_carousel .owl-nav {
    position: absolute;
    top: 50%;
    /* Center vertically */
    width: 100%;
    /* Span the width of the carousel */
    transform: translateY(-50%);
    /* Adjust for the top alignment */
    display: flex;
    justify-content: space-between;
    /* Push buttons to the sides */
    align-items: center;
}

.product_carousel .owl-nav button.owl-prev,
.product_carousel .owl-nav button.owl-next {
    width: auto;
    /* Increased button width */
    height: auto;
    /* Increased button height */
}

.product_carousel .owl-nav button.owl-prev {
    position: absolute;
    left: -30px;
    /* Adjust left arrow position */
}

.product_carousel .owl-nav button.owl-next {
    position: absolute;
    right: -30px;
    /* Adjust right arrow position */
}

.product_carousel .owl-nav span {
    font-size: 8rem !important;
    font-weight: 100;
    color: $blue_font;
}

.product_carousel .owl-theme .owl-nav [class*="owl-"]:hover {
    background-color: transparent !important;
}