.banner-buy-online { height: 100%; padding-bottom: 10%;
    .banner-buy-online-img { bottom: -80%; right: 0; width: 50%; }
}

.locate-pharmacy { padding: 8rem 0;
    .location { margin-bottom: 4rem; }
}

/*Media query*/
@media screen and (max-width: 1366px) {
}

@media screen and (max-width: 1181px) {
	
}

@media screen and (max-width: 992px) { // LG
    
}

@media screen and (max-width: 768px) { // MD    
    .heading-lg {font-size: 3rem;} 
    .heading-xl {font-size: 5rem;} 
}

@media screen and (max-width: 576px) { // SM - Mobile
    .heading-lg {font-size: 3rem;} 
    .heading-xl {font-size: 5rem;} 
}



