.banner-buy-online { height: 100%; overflow: hidden; padding: 8rem 0;
    .banner-buy-online-img { bottom: -80%; right: 0; width: 50%; }
}

.locate-pharmacy { padding: 8rem 0;
    .location { margin-bottom: 4rem; 
        .location-img { width: 65%;}
    }
}

/*Media query*/
@media screen and (max-width: 1366px) {
}

@media screen and (max-width: 1181px) {
	
}

@media screen and (max-width: 992px) {  // LG
}

@media screen and (max-width: 768px) { // MD    
}

@media screen and (max-width: 576px) { // SM - Mobile
    .locate-pharmacy { padding: 4rem 0;}
    .banner-buy-online {  padding: 8rem 0 5rem; 
        h1 {
            &.body-xl { font-size: 1.5rem;}
        }
        h2 {
            &.display-xlg { font-size: 5rem;}
        }
        .banner-buy-online-img { bottom: -115%; }
    }
}

@media screen and (max-width: 375px) { // XM - Mobile
    .banner-buy-online {  padding: 8rem 0 3rem; 
        .banner-buy-online-img { bottom: -80%; }
    }
}



