.banner-buy-online {
    .banner-buy-online-img { bottom: 0; }
}

/*Media query*/
@media screen and (max-width: 1366px) {
}

@media screen and (max-width: 1181px) {
	
}

@media screen and (max-width: 992px) { // LG
    
}

@media screen and (max-width: 768px) { // MD    
    .heading-lg {font-size: 3rem;} 
    .heading-xl {font-size: 5rem;} 
}

@media screen and (max-width: 576px) { // SM - Mobile
    .heading-lg {font-size: 3rem;} 
    .heading-xl {font-size: 5rem;} 
}



