// Home
$sky-blue   : #3db2d8;
$yellow     : #ffc900;
$blue-shade : #00b4dc;
$blue       : #1a2b56;
$seagreen   : #3bb1af;
$black      : #000000;
$off-blue   : #afd8ea;
$white      : #ffffff;
$baby-pink  : #fffae5;

// Costom fonts
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../font/HelveticaNeue-Medium.woff2') format('woff2'),
        url('../font/HelveticaNeue-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../font/HelveticaNeue-Bold.woff2') format('woff2'),
        url('../font/HelveticaNeue-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.font-medium{ font-family: 'Helvetica Neue'; font-weight: 500;}

.font-bold{ font-family: 'Helvetica Neue'; font-weight: 700;}

.bg-sky-blue { background-color: $sky-blue;}
.bg-yellow{ background-color: $yellow}
.bg-blue{ background-color: $blue}
.bg-seagreen{ background-color: $seagreen;}
.bg-baby-pink{ background-color: $baby-pink; }

.text-blue{ color: $sky-blue;}
.text-yellow{ color: $yellow}
.text-blue{ color: $blue}
// ---

.page-lg-container{ margin: 0 auto;}
.page-md-container{ width: 78%; max-width: 1514px; margin: 0 auto;}
.page-sm-container{ width: 65%; max-width: 1248px; margin: 0 auto;}
.page-xs-container{ width: 31%; max-width: 600px; margin: 0 auto;}

// Font sizes

.display-xl{  font-size: clamp(14.25rem, 22.595vw - 0.239rem, 26.875rem);} // 430px
.display-xlg {  font-size: clamp(10.688rem, 17.188vw - 0.313rem, 20.313rem);} // 325px
.display-lg{ font-size: clamp(7.625rem, 12.081vw - 0.122rem, 14.375rem); } // 230px
.display-md{ }


.heading-xl{ font-size: clamp(6rem, 9.396vw - 0.025rem, 11.25rem);} // 180px
.heading-lg{ font-size: clamp(4.875rem, 7.606vw - 0.003rem, 9.125rem);} // 146px
.heading-md{ font-size: clamp(2.563rem, 4.139vw - 0.091rem, 4.875rem);} // 78px
.heading-sm{ } //

.body-xl{ font-size: clamp(2.375rem, 3.691vw + 0.008rem, 4.438rem);} // 71px
.body-lg{ font-size: clamp(1.563rem, 2.573vw - 0.087rem, 3rem);} // 48px
.body-mlg{ font-size: clamp(1.188rem, 1.897vw - 0.027rem, 2.25rem);} // 36px
.body-md{ font-size: clamp(1rem, 1.566vw - 0.004rem, 1.875rem);} // 30px
.body-sm{ font-size: clamp(0.813rem, 1.23vw + 0.023rem, 1.5rem);} // 24px
.body-xs{}

.btn-blue { background: $blue;}
.btn-blue-border { background: $white; border: 1px solid $blue;}