// Dandruff fungi Page
.banner-fungi {
    color: $blue;
    background-color: $yellow;
    height: 100vh;
    padding-top: 180px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    .content {
        h2 {
            width: 60%;
            line-height: 1;
        }
        h1 {
            line-height: 0.8;
            margin-left: -4px;
        }
    }

    img {
        width: 95%;
        position: absolute;
        top: -9%;
        transform: scale(1.2);
        left: 0;
    }
}

.cosmatic-problem {
    padding: 50px;
    color: $blue;
    ul {
        display: flex;
        list-style: none;
        gap: 30px;
        li {
            display: flex;
            align-items: center;
            position: relative;
            a {
                text-decoration: none;
                color: $blue;
            }
            &::after {
                content: "";
                position: absolute;
                right: -15px; // Adjust to center
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
                height: 20px; // Adjust height as needed
                background-color: $blue;
            }
            li:last-child::after {
                display: none; // Removes separator from the last item
            }
        }
    }
}
