.banner-quiz {
    .bannerTextArea { width: 45%;}    
    .banner_dandruff_educationBoy { 
        img { width: 75%; bottom: -200px; }
     }
}
/*Media query*/
@media screen and (max-width: 1366px) {
}

@media screen and (max-width: 1181px) {
	
}

@media screen and (max-width: 992px) { // LG
    
}

@media screen and (max-width: 768px) { // MD    
}

@media screen and (max-width: 576px) { // SM - Mobile
    .banner-quiz {
        .container-custom {max-width: 100%;}
        .bannerTextArea { width: 100%;
            .body-xl {font-size: 1.2rem;}
            .display-xlg { font-size: 6rem; margin: 1rem 0 .5rem}
            .body-md { font-size: 1rem;}
        }    
        .banner_dandruff_educationBoy { 
            img { width: 100%; bottom: 0% !important; }
         }
    }
}



